@model WSite_CuaHangBanHangDienThoaiDiDong.Models.AdminToken.ProductCompany_Token




@using (Ajax.BeginForm("Add", "ProductCompany", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnSuccess = "OnSuccessCO",
    OnFailure = "OnFailure",
    OnBegin = "OnBeginCO"
}, new { @Id = "myForm" }))
{
    <script>
        function validateForm() {
            var name = document.getElementById('Name').value.trim();
            if (!name) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi tìm...",
                    text: "Vui lòng điền đầy đủ thông tin.",
                    /*footer: '<a href="#">Why do I have this issue?</a>'*/
                });
                return false;
            }
        }
    </script>

    @Html.AntiForgeryToken()
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <div class="job-detail mt-2 p-4">


                    <div class="custom-form">
                        <form>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group app-label">
                                        <label for="frist-name" class="text-muted">Tên hãng sản phẩm</label>
                                        <input type="text" name="Name" id="Name" required class="form-control" autocomplete="off" placeholder="Nhập tên hãng sản phẩm " />
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group app-label">
                                        <label for="General" class="text-muted">Chức vụ</label>
                                        @*@Html.Action("Partival_IdChucNang", "Staff")*@

                                        @*@Html.ValidationMessageFor(x => x.ProductCategoryId, null, new { @class = "text-danger" })*@
                                        @Html.DropDownListFor(x => x.ProductCategoryId, ViewBag.ProductCategory as SelectList, "-Chọn danh mục sản phẩm-", new { @class = "form-control", @placeholder = "Danh mục sản phẩm" })
                                        @Html.ValidationMessageFor(x => x.ProductCategoryId, null, new { @class = "text-danger" })

                                    </div>
                                </div>

                               

                               

                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>







        <div class="row">
            <div class="col-1"></div>

            <div class="col-10 d-grid gap-2 col-10 mx-auto"><button type="submit" class="btn btn-success btnRegister  ">Thêm Hãng Sản Phẩm</button></div>

            <div class="col-1"></div>
        </div>
    </div>
}
